body{
    background:white;
    height:100vh;
    font-family:'Segoe UI', cursive;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

h1{
    margin-bottom:30px;
}

.container{
    display:flex;
    gap:30px;
}

.card{
    width:180px;
    height:220px;
    border-radius:20px;
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
    text-align:center;
    cursor:pointer;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.1);
}

.card img{
    width:100%;
    height:150px;
    border-radius:20px 20px 0 0;
}

.card p{
    padding:10px;
    font-size:18px;
}

/* Heart rain */
.heart-rain{
    position: fixed;
    top: -20px;
    color: red;
    font-size: 18px;
    animation: fall 6s linear forwards;
    opacity: 0.8;
    z-index: 0;
}

@keyframes fall{
    0%{
        transform: translateY(0) scale(1);
        opacity:1;
    }
    100%{
        transform: translateY(110vh) scale(1.5);
        opacity:0;
    }
}

/* content upar rahe */
h1, .container{
    position: relative;
    z-index: 5;
}
