body{
    background:white;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family:'Segoe UI', cursive;
}

h1{
    margin-bottom:20px;
}

video{
    width:50%;
    max-width:500px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}
